NEXT_PUBLIC_APP_ENV=local
NEXT_PUBLIC_API_BASE_URL=http://localhost:8088
NEXT_PUBLIC_APP_BASE_URL=http://localhost:3101
NEXT_PUBLIC_KEYCLOAK_BASE_URL=http://localhost:8180
NEXT_PUBLIC_KEYCLOAK_REALM=sacco-platform
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID=member-portal
